@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



}


.light{


}

@keyframes blink {
  0%, 100% {
    color: white;
    text-shadow: none;
  }
  60% {
    color: #d4ffcc;
    text-shadow:
      0 0 20px #39FF14,
      0 0 30px #39FF14,
      0 0 40px #39FF14;
  }
}

.animate-blink {
  animation: blink 25s infinite;
}




@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes scrollLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.scroll-track,
.reverse-track {
  display: flex;
  width: max-content;
  white-space: nowrap;
  will-change: transform;
}

.scroll-track {
  animation: scrollRight 50s linear infinite;
}

.reverse-track {
  animation: scrollLeft 50s linear infinite;
}
