@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@plugin "daisyui";

:root {
  --font-main: "JetBrains Mono", monospace;
  --font-second: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;
}

.light{


}

.scroll-lock {
  overflow: hidden !important;
  height: 100vh !important;
  position: fixed !important;
  width: 100%;
  overscroll-behavior: none !important;
}



@keyframes blink {
  0%, 100% {
    color: white;
    text-shadow: none;
  }
  60% {
    color: #2de40d;
    text-shadow:
      0 0 5px #00ff66,
      0 0 10px #00ff66,
      0 0 20px #00ff66,
      0 0 40px #00ff66,
      0 0 80px #00ff66,
      0 0 120px #00ff66,
  }
}

.animate-blink {
  animation: blink 25s infinite;
}




@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes scrollLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.scroll-track,
.reverse-track {
  display: flex;
  width: max-content;
  white-space: nowrap;
  will-change: transform;
}

.scroll-track {
  animation: scrollRight 50s linear infinite;
}

.reverse-track {
  animation: scrollLeft 50s linear infinite;
}
